<h1>Promotion Ceremony of Evil</h1>
<p>Are you sure you want to make <%= @user.username %> a Dark Lord of the Sith?</p>

<div class="form">

  <%= form_tag(user_path(@user.id), method: "patch") do %>
    <%= submit_tag "I'm certain they are sufficiently evil." %>
  <% end %>

</div>

<div>
<%= render '/users/profile' %>
</div>

