<h1>YOU</h1>
We do not recognize you as a Dark Lord of the Sith.
<br>
<%= link_to 'Log in', login_path %> to your account or go back where you belong and <%= link_to 'continue studying', articles_path %>.
